<div class="footer">
    <div class="content">
        <div class="flex justify-center text-center">
            <div class="w-32 flex-auto">About us</div>
            <div class="w-32 flex-auto">Content</div>
            <div class="w-32 flex-auto">The other content</div>
        </div>
        <div class="flex justify-center text-center">
            <div class="w-32 flex-auto">
                <i class="pi pi-youtube"></i> 
                <i class="pi pi-facebook"></i>
            </div>
            <div class="w-32 flex-auto">Content</div>
            <div class="w-32 flex-auto">The other content</div>
          </div>
    </div>
</div>